.features {

    h2 {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 120%;
        color: #32303E;
        text-align: center;
    }
}

.features-wrapper {
    position: relative;
    margin-bottom: 65%;
}

.toggle__properties1,
.toggle__properties2,
.toggle__properties3,
.toggle__properties4 {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

// ! 1
.toggle__properties1 {
    right: 41%;
    top: 235px;

    .toggle__plus {
        display: inline-block;
    }

    .toggle__minus {
        position: relative;
        display: inline-block;
    }

    .arrow {
        display: block;
        position: absolute;
        left: -146px;
        bottom: 25px;
    }

    .none {
        display: none;
    }
}

// ! 2
.toggle__properties2 {
    right: 54%;
    top: 290px;

    .toggle__plus2 {
        display: inline-block;
    }

    .toggle__minus2 {
        position: relative;
        display: inline-block;
    }

    .arrow2 {
        display: block;
        position: absolute;
        left: -100px;
        bottom: 25px;
    }

    .none {
        display: none;
    }
}

// ! 3
.toggle__properties3 {
    right: 64%;
    top: 380px;

    .toggle__plus3 {
        display: inline-block;
    }

    .toggle__minus3 {
        position: relative;
        display: inline-block;
    }

    .arrow3 {
        display: block;
        position: absolute;
        left: 21px;
        bottom: 65px;
    }

    .none {
        display: none;
    }
}

// ! 4
.toggle__properties4 {
    right: 74%;
    top: 460px;

    .toggle__plus4 {
        display: inline-block;
    }

    .toggle__minus4 {
        position: relative;
        display: inline-block;
    }

    .arrow4 {
        display: block;
        position: absolute;
        left: 21px;
        bottom: 65px;
    }

    .none {
        display: none;
    }
}

.features__properties__item {
    position: absolute;
    z-index: 7;
    display: inline-block;
    padding: 20px 30px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #334483;
    border-radius: 10px;

    h4 {
        display: inline-block;
        font-weight: 600;
        font-size: 25px;
        line-height: 130%;
        color: #334483;
        border-bottom: 1px dashed #808080;
        margin-bottom: 11px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #32303E;
    }

    .features__properties__item-list {
        display: flex;
        column-gap: 40px;
    }

    ul {
        list-style-position: inside;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $primary;
        padding-top: 10px;

        span {
            color: #32303E;
            padding-left: 16px;
        }
    }
}

.features__properties__item1 {
    top: 130px;
    right: 57%;
}

.features__properties__item2 {
    top: 220px;
    right: 67%;
}

.features__properties__item3 {
    top: 100px;
    right: 58%;
}

.features__properties__item4 {
    top: 70px;
    right: 60%;
}

.features__image {
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: 1;
}

.none {
    display: none;
}

//! Grid
.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 110px;
}

.features-grid__item {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #32303E;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    // justify-content: space-between;
    // column-gap: 30px;
    padding: 20px 10px 20px 20px;
    position: relative;
    transition: all .3s linear;

    &:hover {
        background: #F9F9F9;
        color: #32303E;
    }

    &:hover .features-grid__item-logo {
        border: 1px solid $primary;
    }

    &:hover .features-grid__item-logo .logo-dissapear {
        opacity: 0;
    }
}

.features-grid__item-text {

    h3 {
        text-transform: uppercase;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        margin-bottom: 15px;
        display: inline-block;
    }

    p {
        font-weight: 400;
        font-size: 19px;
        line-height: 130%;
    }
}

.features-grid__item-logo {
    width: 70px;
    height: 70px;
    border: 1px solid #808080;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//! 1200px
@media (max-width: 1200px) {
    .toggle__properties1 {
        .arrow {
            display: none;
        }
    }

    .toggle__properties2 {
        .arrow2 {
            display: none;
        }
    }

    .toggle__properties3 {
        right: 60%;
        top: 370px;

        .arrow3 {
            display: none;
        }
    }

    .toggle__properties4 {
        right: 74%;
        top: 420px;

        .arrow4 {
            display: none;
        }
    }

    .features-grid__item-text {
        h3 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
    }
}

//! 1110px
@media (max-width: 1110px) {
    .toggle__properties1 {
        right: 35%;
        top: 210px;
    }

    .toggle__properties2 {
        right: 51%;
        top: 250px;
    }

    .toggle__properties3 {
        right: 60%;
        top: 320px;
    }

    .toggle__properties4 {
        right: 74%;
        top: 380px;
    }

    .features__properties__item {
        padding: 20px;

        h4 {
            font-size: 22px;
        }
    }

    .features__properties__item4 {
        top: 70px;
        right: 50%;
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

//! 960px
@media (max-width: 960px) {
    .features {
        h2 {
            font-size: 40px;
        }
    }

    .toggle__properties1 {
        right: 35%;
        top: 210px;

        .toggle__plus {
            width: 40px;
        }

        .toggle__minus {
            width: 40px;
        }
    }

    .toggle__properties2 {
        right: 51%;
        top: 250px;

        .toggle__plus2 {
            width: 40px;
        }

        .toggle__minus2 {
            width: 40px;
        }
    }

    .toggle__properties3 {
        right: 58%;
        top: 300px;

        .toggle__plus3 {
            width: 40px;
        }

        .toggle__minus3 {
            width: 40px;
        }
    }

    .toggle__properties4 {
        right: 72%;
        top: 350px;

        .toggle__plus4 {
            width: 40px;
        }

        .toggle__minus4 {
            width: 40px;
        }
    }

    .features__properties__item {
        padding: 10px;

        h4 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        ul {
            font-size: 14px;
        }
    }
}

//! 830px
@media (max-width: 830px) {
    .features {
        h2 {
            font-size: 35px;
        }

        .features-wrapper {
            margin-bottom: 80%;
        }
    }

    .toggle__properties1 {
        right: 35%;
        top: 210px;
    }

    .toggle__properties2 {
        right: 51%;
        top: 210px;
    }

    .toggle__properties3 {
        right: 58%;
        top: 270px;
    }

    .toggle__properties4 {
        right: 72%;
        top: 310px;
    }
}

//! 768px
@media (max-width: 768px) {
    .features {
        h2 {
            font-size: 35px;
        }
    }

    .toggle__properties1 {
        right: 35%;
        top: 170px;
    }

    .toggle__properties2 {
        right: 51%;
        top: 200px;
    }

    .toggle__properties3 {
        right: 58%;
        top: 250px;
    }

    .toggle__properties4 {
        right: 70%;
        top: 290px;
    }

    .features__properties__item1 {
        top: 50px;
        right: 50%;
    }

    .features__properties__item2 {
        top: 40px;
        right: 50%;
    }

    .features__properties__item3 {
        top: 40px;
        right: 50%;
    }

    .features__properties__item4 {
        top: 40px;
        right: 30%;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .features-grid__item-logo {
        width: 50px;
        height: 50px;
    }
}

//! 660px
@media (max-width: 660px) {
    .features {
        h2 {
            font-size: 30px;
        }
    }

    .toggle__properties1 {
        right: 30%;
        top: 160px;

        .toggle__plus {
            width: 30px;
        }

        .toggle__minus {
            width: 30px;
        }
    }

    .toggle__properties2 {
        right: 46%;
        top: 180px;

        .toggle__plus2 {
            width: 30px;
        }

        .toggle__minus2 {
            width: 30px;
        }
    }

    .toggle__properties3 {
        right: 58%;
        top: 220px;

        .toggle__plus3 {
            width: 30px;
        }

        .toggle__minus3 {
            width: 30px;
        }
    }

    .toggle__properties4 {
        right: 66%;
        top: 260px;

        .toggle__plus4 {
            width: 30px;
        }

        .toggle__minus4 {
            width: 30px;
        }
    }

    .features__properties__item {

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }

        ul {
            font-size: 12px;
        }
    }
}

//! 570px
@media (max-width: 570px) {
    .features {
        h2 {
            font-size: 25px;
        }
    }

    .toggle__properties1 {
        right: 30%;
        top: 150px;
    }

    .toggle__properties2 {
        right: 46%;
        top: 160px;
    }

    .toggle__properties3 {
        right: 55%;
        top: 200px;
    }

    .toggle__properties4 {
        right: 66%;
        top: 240px;
    }

    .features__properties__item {

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }

        ul {
            font-size: 12px;
        }
    }

    .features__properties__item1 {
        top: 50px;
        right: 40%;
    }

    .features__properties__item2 {
        top: 10px;
        right: 50%;
    }

    .features__properties__item3 {
        top: 40px;
        right: 30%;
    }

    .features__properties__item4 {
        top: 40px;
        right: 30%;
    }
}

//! 480
@media (max-width: 480px) {
    .features-wrapper {
        margin-bottom: 100%;
    }

    .toggle__properties1 {
        right: 20%;
        top: 130px;
    }

    .toggle__properties2 {
        right: 38%;
        top: 160px;
    }

    .toggle__properties3 {
        right: 48%;
        top: 190px;
    }

    .toggle__properties4 {
        right: 58%;
        top: 220px;
    }


    .features__properties__item1 {
        top: 170px;
        right: 20%;
    }

    .features__properties__item2 {
        top: 10px;
        right: 50%;
    }

    .features__properties__item3 {
        top: 20px;
        right: 10%;
    }

    .features__properties__item4 {
        top: 0px;
        right: 0%;
    }

    .features-grid__item-text {
        h3 {
            font-size: 17px;
        }

        p {
            font-size: 14px;
        }
    }
}

//! 400
@media (max-width: 400px) {

    .toggle__properties1 {
        right: 18%;
        top: 130px;

        .toggle__plus {
            width: 20px;
        }

        .toggle__minus {
            width: 20px;
        }
    }

    .toggle__properties2 {
        right: 34%;
        top: 140px;

        .toggle__plus2 {
            width: 20px;
        }

        .toggle__minus2 {
            width: 20px;
        }
    }

    .toggle__properties3 {
        right: 40%;
        top: 170px;

        .toggle__plus3 {
            width: 20px;
        }

        .toggle__minus3 {
            width: 20px;
        }
    }

    .toggle__properties4 {
        right: 52%;
        top: 190px;

        .toggle__plus4 {
            width: 20px;
        }

        .toggle__minus4 {
            width: 20px;
        }
    }

    .features__properties__item {
        .features__properties__item-list {
            column-gap: 10px;
        }

       
    }

    .features__properties__item4 {
        top: 0px;
        right: -3%;
    }
}