.footer {
    padding: 43px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #32303E;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

// .footer__logo {}

.footer__address {
    margin-left: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer__link {
    margin-left: 113px;
    color: $primary;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    transition: all .3s linear;

    &:hover {
        color: $secondary;
    }
}


/*! Scroll-up*/
.to-up {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 12px 0px 12px 29px;
    transition: all .5s;
    margin-left: 170px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #32303E;
    display: inline-flex;
    column-gap: 14px;
    transition: all .3s linear;

    &::after {
        content: '';
        display: block;
        background-image: url(/img/Footer/arrow-up.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 17px;
        padding: 0 27px 0 0;
    }

    &:hover {
        opacity: .7;
    }
}

//! 1110px
@media (max-width: 1110px) {
    .footer__address {
        font-size: 16px;

    }

    .footer__link {
        font-size: 16px;
        margin-left: 50px;
    }

    .to-up {
        margin-left: 100px;
    }
}

//! 850px
@media (max-width: 850px) {
    .footer__logo {
        display: none;
    }
}

//! 768px
@media (max-width: 768px) {
    .footer-wrapper {
        justify-content: space-between;
    }
    .footer__logo {
        display: none;
    }

    .footer__address {
        font-size: 12px;
        margin: 0;
    }

    .footer__link {
        font-size: 12px;
        margin: 0;
    }

    .to-up {
        padding: 8px 0px 8px 19px;
        font-size: 12px;
        margin: 0;

        &::after {
            padding: 0 17px 0 0;
        }
    }
}

//! 480px
@media (max-width: 480px) {
    .footer-wrapper {
        flex-direction: column;
       gap: 20px;
    }
    .footer__logo {
        display: block;
    }
}