.selection {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.selection__bg {
    height: 100%;
}

.selection__content {
    display: flex;
    flex-direction: column;
}

.selection__materials {
    background: linear-gradient(104.17deg, #334483 -3.03%, #121830 103.96%);
    padding: 60px 0 60px 39px;
    position: relative;
    z-index: 4;

    &:after {
        position: absolute;
        top: -80px;
        right: -200px;
        content: '';
        display: block;
        background-image: url(/img/Selection/materials.png);
        background-repeat: no-repeat;
        width: 446px;
        height: 382px;
        z-index: 0;
    }

    h3 {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    p {
        font-weight: 500;
        font-size: 19px;
        line-height: 130%;
        color: #FFFFFF;
    }

    ul {
        list-style-position: inside;
        font-weight: 400;
        font-size: 19px;
        line-height: 130%;
        color: $primary;
        padding-top: 15px;

        span {
            color: #FFFFFF;
        }
    }
}

.selection__form {
    background: linear-gradient(94.63deg, #FFAB49 -7.37%, #D94D00 108.07%);

    h4 {
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        color: #FFFFFF;
        padding: 40px 0 0 39px;
    }
}

.form-wrapper {
    padding: 20px 0 40px 40px;
    display: flex;
    column-gap: 15px;
    align-items: baseline;
}

.form {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;

    input {
        padding: 14px 127px 14px 17px;
        background: #FFFFFF;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #808080;
        }

        &+input {
            margin-top: 10px;
        }
    }
}

.form__call-me {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    .form__btn {
        display: inline-flex;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #32303E;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        padding: 12px 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        transition: all .3s linear;

        &:hover {
            background-color: $secondary;
            color: #32303E;
        }
    }

    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: #FFFFFF;

        a {
            font-style: italic;
            color: #32303E;
            transition: all .3s linear;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

//! 1366px
@media (max-width: 1365px) {
    .selection__materials {
        &:after {
            top: -80px;
            right: -240px;
            width: 70%;
            height: 70%;
        }
    }
}

//! 1280px
@media (max-width: 1280px) {
    .selection__materials {
        &:after {
            top: -80px;
            right: -270px;
            width: 70%;
            height: 70%;
        }
    }

    .form-wrapper {
        column-gap: 10px;
    }
}

//! 1110px
@media (max-width: 1110px) {
    .selection__materials {
        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        ul {
            font-size: 16px;
        }

        &:after {
            display: none;
        }
    }

    .selection__form {
        h4 {
            font-size: 22px;
        }
    }

    .form-wrapper {
        flex-direction: column;
    }

    .form {
        input {
            padding: 12px 80px 12px 17px;
        }
    }

    .form__call-me {
        .form__btn {
            // padding: 12px 0px 12px 30px;
            font-size: 14px;
        }
    }
}

//! 768px
@media (max-width:768px) {
    .selection {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .selection__bg {
        display: none;
    }

    .selection__materials {
        h3 {
            font-size: 25px;
        }
    }
    .selection__form {
        h4 {
            font-size: 18px;
        }
    }
    .form__call-me {
        .form__btn {

            &:hover {
                background-color: #32303E;
                color: #fff;
            }
        }
    }
}

//! 480px
@media (max-width:480px) {
    .selection__materials {
        padding: 60px 0 60px 20px;
    }
    .selection__form {
        h4 {
            padding: 20px 0 0 20px;
        }
    }
    .form-wrapper {
        padding: 20px 0 40px 20px;
    }
}