.using {
    margin-bottom: 150px;
}

.using__wrapper {
    display: flex;
    justify-content: space-between;
}

.using__text {

    h2 {
        margin-bottom: 20px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 120%;
    }

    p {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 19px;
        line-height: 130%;
        color: #32303E;

        span {
            color: $primary;
        }
    }
}

.using__location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 21px 17px;
}

.using__location__item {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 5px;

    img {
        padding: 10px 10px 7px 10px;
        border-radius: 15px;
    }

    p {
        padding: 0px 0px 8px 20px;
    }
}

//! 768px
@media (max-width: 768px) {
    .using__wrapper {
        flex-direction: column;
    }
    .using__text {
        margin-bottom: 50px;

        h2 {
            font-size: 40px;
        }
    }
}

//! 480px
@media (max-width: 480px) {
    .using__text {

        p {
            font-size: 16px;
        }
    }
    .using__text {

        h2 {
            font-size: 30px;
        }
    }

    .using__location__item {

        p {
            font-size: 14px;
        }
    }
}